@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.eot');
  src: url('../fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.eot?#iefix') format('embedded-opentype'),
       local('Source Sans Pro Light'),
       local('Source-Sans-Pro-300'),
       url('../fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff2') format('woff2'),
       url('../fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.woff') format('woff'),
       url('../fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.ttf') format('truetype'),
       url('../fonts/Source-Sans-Pro-300/Source-Sans-Pro-300.svg#SourceSansPro') format('svg');
}

